* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background: url(https://as2.ftcdn.net/v2/jpg/05/84/75/53/1000_F_584755323_Y7tuaC93lpHyNugYhblmvfqD9xcI9EiJ.jpg) 50%/cover no-repeat;
}
.women{
    padding-left: 2%;
    padding-top: 43%;
    position: fixed;
}
.fon{
    max-width: 1500px;
    background: url(https://as2.ftcdn.net/v2/jpg/05/84/75/53/1000_F_584755323_Y7tuaC93lpHyNugYhblmvfqD9xcI9EiJ.jpg) 50%/cover no-repeat fixed;
    margin: 0 auto;
}
.top{
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(214, 175, 102);
    
}
h3{
    color: rgb(102, 26, 26);
    font-family: 'Edu TAS Beginner', cursive;
}
h3:hover{
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.5;
}
.nazvanie{
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.name1{
    /*padding: 4% 4%;*/
    color: rgb(214, 175, 102);
    font-size: 39px;
    font-family: 'Edu TAS Beginner', cursive;
    text-transform: uppercase;
}
.name2{
    /*padding: 1% 35%;*/
    color: rgb(214, 175, 102);
    font-size: 39px;
    font-family: 'Edu TAS Beginner', cursive;
}

.slider{
    width: 300px;
    height: 400px;
    overflow: hidden;
    border: 6px solid brown;
    border-radius: 6px;
}
.middle{
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -10%);
}
.navigation{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 15px;
    height: 7px;
    margin: 6px;
    cursor: pointer;
    background-color: rgb(219, 240, 102);
    opacity: 0.7;
    border-radius: 2px;
    transition: all .4s ease;
}
.bar:hover{
    opacity: 0.9;
    transform: scale(1.1);
}
input[name="m"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
    overflow: hidden;
    width: 25%;
    transition: all .6s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
#m1:checked ~ .s1{
    margin-left: 0;
}
#m2:checked ~ .s1{
    margin-left: -25%;
}
#m3:checked ~ .s1{
    margin-left: -50%;
}
#m4:checked ~ .s1{
    margin-left: -75%;
}
.Reviews{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    color: rgb(214, 175, 102);
    font-size: 20px;
    font-family: 'Edu TAS Beginner', cursive;
    text-decoration: underline;
}
.reviewsbox{
    font-family: 'Edu TAS Beginner', cursive;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
    color: rgb(214, 175, 102);
}
.rev1 > h2:hover{
    cursor: pointer;
    opacity: 0.5;
}
.rev2 > h2:hover{
    cursor: pointer;
    opacity: 0.5;
}
.rev3 > h2:hover{
    cursor: pointer;
    opacity: 0.5;
}
.rev4 > h2:hover{
    cursor: pointer;
    opacity: 0.5;
}
i{
    color: brown;
}
i:hover{
    cursor: pointer;
    opacity: 0.5;
}
.More_News{
    margin: 5px;
    font-size: 25px;
    /*position: relative;*/
    text-align: right;
    /*left: 80%;*/
    font-family: 'Edu TAS Beginner', cursive;
    color: rgb(214, 175, 102);
    text-decoration: underline;
}
.More_News:hover{
    cursor: pointer;
    opacity: 0.3;
}
.MC{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgb(214, 175, 102);
    font-size: 20px;
    font-family: 'Edu TAS Beginner', cursive;
    text-decoration: underline;
}
.mcbox{
    font-family: 'Edu TAS Beginner', cursive;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
    color: rgb(214, 175, 102);
}
.mc1, .mc2, .mc3{
    margin: 20px;
}
.mc1 > h2:hover{
    cursor: pointer;
    opacity: 0.5;
}
.mc2 > h2:hover{
    cursor: pointer;
    opacity: 0.5;
}
.mc3 > h2:hover{
    cursor: pointer;
    opacity: 0.5;
}
.More_mc{
    margin: 5px;
    font-size: 25px;
    /*position: relative;*/
    /*left: 80%;*/
    text-align: right;
    font-family: 'Edu TAS Beginner', cursive;
    color: rgb(214, 175, 102);
    text-decoration: underline;
}
.More_mc:hover{
    cursor: pointer;
    opacity: 0.5;
}
.buttom{
    width: 130px;
    height: 35px;
    background-color: darkgoldenrod;
    line-height: 35px;
    text-align: center;
}
.buttom:hover{
    cursor: pointer;
    opacity: 0.5;
}

@media (max-width: 850px){
    .mc1 > img{
        height: 300px;
    }
    .mc2 > img{
        height: 300px;
    }
    .mc3 > img{
        height: 300px;
    }


}
@media (max-width: 650px){
    .mc1 > img{
        height: 175px;
    }
    .mc2 > img{
        height: 175px;
    }
    .mc3 > img{
        height: 175px;
    }
    .name1{
        font-size: 20px;
    }
    .name2{
        font-size: 20px;
    }


}